@import '../1-helpers/mixins';

.mc-table-responsive {
    overflow-x: auto;
}

.mc-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;

    &.product {
        tr {
            th, td {
                &:first-child {
                    max-width: 90px;
                    min-width: fit-content;
                }
    
                &:nth-child(2) {
                    max-width: 180px;
                    min-width: fit-content;
                }
            }
        }
    }
}

// body.dark .mc-table tr {
//     border-color: #1B2B4D !important;
// }

body.dark .mc-table th {
    background-color: #246EF3;
}

body.dark .mc-table td {
    background-color: #071739 !important;
    color: #B4B4B4;
}



body.dark .mc-table-body td {
    border-right: 1px solid #223865;
}

body.dark .mc-table-body td {
    border-bottom: 1px solid #223865;
}

body.dark .mc-table-head th {
    color: #FFFFFF;
}

body.dark .mc-table-body td:last-child {
    border-right: none;
}

body.dark .mc-table-check input {
    outline: 2px solid #1B2B4D;
}

body.dark .mc-table-head.gray {
    background-color: #1B2B4D;
}

body.dark .mc-table-check input {
    outline: 2px solid #1B2B4D;
}

body.dark .mc-table-check p {
    color: #ACADAF;
}

body.dark .mc-table-head.primary p {
    color: #ffffff !important
}

body.dark .mc-table-profile p {
  color: #ACADAF;
}

body.dark .mc-table-product h6 {
    color: #ACADAF;
}

body.dark .mc-table-rating h3 {
    color: #ACADAF;
}

.mc-table {
    tr {
        th, td {
            text-align: left; 
        }
    }
}

.mc-table-head {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;

    &.sticky {
        @include position-top-left(sticky, 0px, 0px, 1);
        width: 100%;
    }

    &.gray {
        background-color: #f8f8f8;
    }

    &.primary {
        border: none;
        color: #ffffff;
        background: linear-gradient(to top, #0858f7, #2b77e5);

        tr {
            th {
                padding: 13px 15px;
            }
        }
    }

    tr {
        th {
            max-width: 120px;
            min-width: fit-content;
            padding: 15px 15px;
            @include text-font(12px, 600);
            text-transform: uppercase;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}


    .mc-table-head {
        &.primary {
            tr {
                th {
                    border-right: 1px solid #2b77e5;
    
                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }

        tr {
            th {
                text-align: left;
                border-right: 1px solid #f0f0f0;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }


// [dir="rtl"] {
//     .mc-table-head {
//         &.primary {
//             tr {
//                 th {
//                     border-left: 1px solid #2b77e5;
    
//                     &:last-child {
//                         border-left: none;
//                     }
//                 }
//             }
//         }

//         tr {
//             th {
//                 text-align: right;
//                 border-left: 1px solid #f0f0f0;

//                 &:last-child {
//                     border-left: none;
//                 }
//             }
//         }
//     }
// }

.mc-table-body {
    &.even {
        tr {
            &:nth-child(even) {
                background-color: #f8f8f8;
            }
        }
    }

    &.odd {
        tr {
            &:nth-child(odd) {
                background-color: #f8f8f8;
            }
        }
    }

    tr {
        td {
            max-width: 120px;
            min-width: fit-content;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 15px 15px;
            @include text-font(14px, 400);
            border-bottom: 1px solid #f0f0f0;
        }
    }
}


    .mc-table-body {
        tr {
            td {
                border-right: 1px solid #f0f0f0;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }


// [dir="rtl"] {
//     .mc-table-body {
//         tr {
//             td {
//                 border-left: 1px solid #f0f0f0;

//                 &:last-child {
//                     border-left: none;
//                 }
//             }
//         }
//     }
// }

.mc-table-check {
    @include flex-dimension(center, flex-start, 0px 12px);

    input {
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        outline: 2px solid #f0f0f0;
    }

    p { 
        font-weight: 600; 
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.mc-table-profile {
    @include flex-dimension(center, flex-start, 0px 5px);

    img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 15%);
    }

    p { 
        min-width: 60px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.mc-table-product {
    @include flex-dimension(center, flex-start, 0px 8px);

    &.sm {
        img {
            width: 35px;
            height: 35px;
        }
    }

    &.md {
        img {
            width: 40px;
            height: 40px;
        }
    }

    img {
        width: 45px;
        height: 45px;
        flex-shrink: 0;
        border-radius: 8px;
        object-fit: cover;
        border: 1px solid #f0f0f0;
        box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 6%);
    }

    h6 {
        @include text-font(14px, 500);
        margin-bottom: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    p {
        font-size: 13px;
        line-height: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.mc-table-group {
    min-width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mc-table-review {
    @include flex-dimension(center, flex-start, 0px 1px);

    i {
        font-size: 14px;
        color: #edb213;
    }

    span {
        font-size: 12px;
    }
}

.mc-table-icon {
    @include flex-dimension(center, flex-start, 0px 10px);

    &.role {
        gap: 4px;

        i { 
            font-size: 20px; 

            &.purple { color: #be0ee1; }
            &.yellow { color: #e1940e; }
            &.green { color: #1a9f53; }
            &.blue { color: #2b77e5; }
            &.red { color: #f11133; }
        }
    }

    i { color: #0858f7; }
    p {
        font-weight: 500;
        text-transform: capitalize;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    a {
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include transition-linear;
        &:hover { color: #0858f7; }
    }
}

.mc-table-price {
    p {
        color: #ff6179;
        font-weight: 500;
    }
}

.mc-table-rating {
    @include flex-dimension(center, flex-start, 3px);

    i {
        font-size: 18px;
        color: #edb213;
    }

    h3 { 
        font-size: 14px; 
        line-height: 18px;
    }

    p { 
        font-size: 13px;
        line-height: 18px;
    }
}

.mc-table-badge {
    line-height: 22px;
    border-radius: 6px;
    padding: 0px 7px 1px;
    width: fit-content;
    text-transform: capitalize;
    @include text-font(13px, 500);

    &.purple { color: #a808c3; background: #f6caff; }
    &.blue { color: #2262d3; background: #c1e1fc; }
    &.green { color: #187d44; background: #bdf5d3; }
    &.yellow { color: #ae640f; background: #f9ef8e; }
    &.red { color: #e00b2b; background: #ffc4cd; }
}

.mc-table-action {
    display: flex;
    gap: 6px;

    a,
    button { 
        font-size: 16px;
        padding: 6px 6px;
        border-radius: 6px;
        color: #ffffff;
        background-color: #f0f0f0;
        text-decoration: none;
    }
}


    .mc-table-action {
        a,
        button {
            &.download { color: #2b77e5; background-color: #dcedfd; }
            &.view { color: #be0ee1; background-color: #fbe5ff; }
            &.edit { color: #1a9f53; background-color: #ddfbe9; }
            &.chat { color: #1a9f53; background-color: #ddfbe9; }
            &.delete { color: #f11133; background-color: #ffdfe4; }
            &.block { color: #f11133; background-color: #ffdfe4; }
        }
    }


body.dark {
    .mc-table-action {
        a,
        button {
            &.view { background-color: #de2fff; color: #FFFFFF;}
            &.edit { background-color: #27bf68; color: #FFFFFF;}
            &.chat { background-color: #27bf68; color: #FFFFFF;}
            &.delete { background-color: #ff304f; color: #FFFFFF;}
            &.block { background-color: #ff304f; color: #FFFFFF;}
            &.download { background-color: #4094f1; color: #FFFFFF;}
        }
    }
}