@import '../1-helpers/mixins';
@import '../1-helpers/breakpoints';

// Ratings
.mc-review-analytics-group {
    @include flex-dimension(center, center, 100px);
    flex-wrap: wrap;

    @include mobile-breakpoint {
        gap: 50px;
    }
}

.mc-review-analytics-graph-group {
    width: 350px;
    flex-shrink: 0;

    @include mobile-breakpoint {
        width: 100%;
    }
}

.mc-review-analytics-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mc-review-analytics-item {
    @include flex-dimension(center, center, 12px);
}

.mc-review-analytics-graph {
    width: 100%;
    border-radius: 6px;
    background: #e4e4e4;

    span {
        height: 6px;
        display: block;
        border-radius: 6px;
        background-color: #edb213;
    }
}

.mc-review-analytics-count,
.mc-review-analytics-user {
    white-space: nowrap;
    text-transform: capitalize;
    letter-spacing: 0.3px;
    font-size: 15px;
}

.mc-review-analytics-detail-group {
    text-align: center;
}

.mc-review-analytics-total {
    color: #5e5d72;
    margin-bottom: 20px;
    text-transform: capitalize;
    @include text-font(20px, 500);
}

.mc-review-analytics-score {
    @include text-font(80px, 800);
    line-height: 60px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

.mc-review-analytics-star {
    @include flex-dimension(center, center, 5px);

    i {
        font-size: 22px;
        color: #f0f0f0;

        &.active { color: #edb213; }
    }
}

.mc-review-analytics-text {
    text-transform: capitalize;
    font-size: 16px;
}


// Reviews


.mc-review-item:nth-child(n+2) {
    max-width: 1050px;
    margin-left: auto;
      
}

.mc-review-item:nth-child(n+3) {
    max-width: 1050px;
    margin-left: auto;
      
}

.mc-review-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.mc-review-item {
    ul {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 30px;
    }
}


    .mc-review-item {
        ul {
            li {
                margin-left: 60px;

                @include mobile-breakpoint {
                    margin-left: 20px;
                }
            }
        }
    }



    .mc-review-item {
        ul {
            li {
                margin-right: 60px;

                @include mobile-breakpoint {
                    margin-right: 20px;
                }
            }
        }
    }


.mc-review-group {
    display: flex;
    gap: 25px;

    @include mobile-breakpoint {
        gap: 0px;
    }
}

.mc-review-data {
    padding: 35px;
    border-radius: 15px;
    background-color: #f8f8f8;

    @include mobile-breakpoint {
        padding: 15px;
    }
}

.mc-review-head {
    @include flex-dimension(flex-start, space-between, 10px);
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.mc-review-user {
    @include flex-dimension(center, flex-start, 6px 12px);
    flex-wrap: wrap;
    position: relative;
}

.mc-review-admin {
    font-size: 10px;
    padding: 4px 7px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    color: #ffffff;
    background-color: #5a5a5a;
}


    .mc-review-admin {
        @include position-top-left(absolute, 46px, 4px, 1);
        
        @include mobile-breakpoint {
            top: -16px;
            left: 4px;
        }
    }



    // .mc-review-admin {
    //     @include position-top-right(absolute, 46px, 4px, 1);

    //     @include mobile-breakpoint {
    //         top: -16px;
    //         right: 4px;
    //     }
    // }


.mc-review-reply {
    .mc-btn {
        padding: 9px 12px;
    }
}

.mc-review-star {
    margin-bottom: 12px;
    @include flex-dimension(center, flex-start, 3px);

    i {
        font-size: 22px;
        color: #edb213;
    }
}

.mc-review-dots {
    .mc-dropdown-toggle {
        i {
            color: #5e5d72;
            background-color: #f0f0f0;
            font-size: 20px;
            @include content-center(35px, 35px, 50%);
            @include transition-linear;

            &:hover {
                color: #ffffff;
                background: #0858f7;
            }
        }
    }
}

.mc-review-form-btn {
    width: 100%;
    font-size: 14px;
    margin-top: 25px;
    padding: 24px 0px;
}

body.dark .mc-review-analytics-count, .mc-review-analytics-user {
    color: #B4B4B4;
}

body.dark .mc-review-analytics-graph {
    background: #00031F;
}

body.dark .mc-review-analytics-total {
    color: #B4B4B4;
}

body.dark .mc-review-analytics-score {
    color: #E4E4E4;
}

body.dark .mc-review-data {
    background-color: #071739;
}

body.dark .mc-review-dots .mc-dropdown-toggle i {
    color: #B4B4B4;
    background-color: #112143;
}

body.dark .mc-review-reply {
    color: #ffffff;
}

body.dark .mc-review-analytics-text {
    color: #B4B4B4;
}

body.dark .mc-review-describe {
    color: #B4B4B4;
}