/* Features.scss */
.features {
    padding: 2rem;
    background-color: #f9f9f9;
    text-align: center;
  
    .features-grid {
      display: flex;
      justify-content: space-around;
      margin-top: 2rem;
      
      .feature-item {
        max-width: 30%;
        text-align: center;
  
        .icon {
          margin-bottom: 1rem;
        }
  
        h3 {
          margin-bottom: 1rem;
          font-size: 1.5rem;
        }
  
        p {
          color: #555;
        }
      }
    }
  }
  