


.mc-revenue-card-header {
    margin-bottom: 28px;
    @include flex-dimension(flex-start, space-between, 15px);
    flex-wrap: wrap;

    .mc-icon-field {
        margin-bottom: 0px;
        background-color: #f8f8f8;
        border-color: #f0f0f0;
    }
}

.mc-revenue-card-group {
    margin-bottom: 25px;
    @include flex-dimension(flex-start, space-between, 25px);
    flex-wrap: wrap;
}

.mc-revenue-card-report {
    @include flex-dimension(center, center, 15px);

    i {
        font-size: 35px;
        color: #0858f7;

        &.blue {
            background: -webkit-linear-gradient(#2b77e5, #64b3f6);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &.green {
            background: -webkit-linear-gradient(#1a9f53, #4eda89);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &.purple {
            background: -webkit-linear-gradient(#be0ee1, #ed68ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    h3 {
        font-size: 20px;

        span {
            display: block;
            @include text-font(14px, 400);
            text-transform: capitalize;
            margin-bottom: 5px;
            color: #5e5d72;
        }
    }
}

body.dark .mc-revenue-card-report h3 span {
    color: #ACADAF;
}

body.dark .mc-revenue-card-report h3 {
    color: #E4E4E4;
}

